<%- include("partials/header") %>

    <body class="success">
        <div class="pad">
           
            <div class="navbar">
                <div class="home-info">
                    <a href="/info-popup" target="popup" class="link" onclick="window.open('/info-popup', 'popup', 'width=600,height=600,scrollbars=no,resizable=no')" > <i class="fa-solid fa-circle-info"></i> </a>
                </div>
                <div class="final-title">
                    <h1>Mag-Fame</h1>
                    
                </div>
                <div>
                    <form class="logout" action="/logout" method="POST">
                        <button type="submit" class="btn btn-outline-warning" >Logout</button>
                    </form>
                </div>
            </div>
        </div>

        <hr class="line">
    
        <script>

            //DOWNLAODS THE IMAGE FOR THE USER
            function downloadURI(uri,name){

                var link = document.createElement("a");
                link.download = name;
                link.href = uri;
                link.click();
            }

            
            function getImage(){
                
                var blur = document.getElementById("blur");
                blur.classList.toggle("active");
                var popup = document.getElementById("popup-final");
                popup.classList.toggle("active");
                var b = document.getElementById("getImageButton")
                if (popup.classList == "active"){
                 
                    b.innerHTML = "Close";
                    //DOWNLAODS THE IMAGE FOR THE USER
                    html2canvas(document.getElementById("creatingImage"),{logging: true, letterRendering: 1, allowTaint:false, useCORS: true}).then(function(canvas){
                    var myImage = canvas.toDataURL("image/jpeg", 0.9);
                   
                            $("#final-user-image").attr("src", myImage);
                });
                } else{
                
                    b.innerHTML = "Download and Share";
                }
            }

            function downloadImage(){
                html2canvas(document.getElementById("creatingImage"),{logging: true, letterRendering: 1, allowTaint:false, useCORS: true}).then(function(canvas){
                    var myImage = canvas.toDataURL("image/jpeg", 0.9);
                    downloadURI("data:" + myImage, "<%=username%>.png");
                 
                });
             
            }


            function shareImage(){

                html2canvas(document.getElementById("creatingImage"),{logging: true, letterRendering: 1, allowTaint:false, useCORS: true}).then(function(canvas){
                    canvas.toBlob(function(blob){

                        console.log(blob);
                        var yourImage = new File([blob], "<%=username%>.png", {type:blob.type})
                       
                        if (navigator.share){
                        navigator.share({
                            files: [yourImage],
                            
                    })
                    .then(()=> console.log("Succesfuly share"))
                    .catch(error=> console.log("error sharing"));
                    }else{
                        alert("Unable to share on this device/browser.");
                    }
                    })
                 
                    
                 

                    
                });
             
            }
        </script>

        <div id="popup-final">
            <div class="final-usr-img ">
                <img id="final-user-image" src="<%=photo%>" alt=""> 
            </div>
            <div>
                <div class="final-content">
                    <div class="final-buttons">
                        <button class="btn btn-dark" onclick="downloadImage()">Download <i class="fa-solid fa-download"></i></button>
                        <button class="btn btn-dark" onclick="shareImage()">Share <i class="fa-solid fa-share-from-square"></i></button>
                    </div>
                    <p><strong> Or press and hold the image to save to camera roll / share.</strong></p>
                    <p>If you enjoyed be sure to follow my <a style="text-decoration: none;" target="_blank" href="https://jashanrahal.com/contact.html">socials</a> and tag me in your instagram posts <a style="color: black; text-decoration: none;" target="_blank" href="https://www.instagram.com/jashan.rahal/">@jashan.rahal</a></p>
                </div>
            </div>
            
        </div>
      

    
        <div class="container" id="blur">
            <div id="creatingImage" class="user-img ">
                <img id="image" src="<%=photo%>" alt="">
                <h2 id="img-text">MAGFAME</h2>
                <h2 id="username">@<%= username %> </h2>
                
            </div>

         

            <div class="img-selectors">
                <div>
                   
                    <div class="center">
                        <h3>Choose Your Photo</h3>
                        <div class="center">
                            <div class="selector">
                                <label for="">Main Photo</label>
                                    <a class="a-tags" href="/decreaseCount" onclick="decreaseMainPhotoCount()"> <i class="fa-sharp fa-solid fa-arrow-left"></i> </a>
                                    <label id="photoSelect">0</label>
                                    <a class="a-tags" href="/increaseCount" onclick="changeMainPhoto()"> <i class="fa-sharp fa-solid fa-arrow-right"></i> </a>   
                            </div>

                            <div class="selector">
                                <label for="">Album Photos</label>
                                <a class="a-tags" href="/decreaseChildCount" onclick="decreaseChildCount()"> <i class="fa-sharp fa-solid fa-arrow-left"></i> </a>
                                <label id="carousel_selector"> 0</label>
                                <a class="a-tags" href="/increaseChildCount" onclick="increaseChildCount()"> <i class="fa-sharp fa-solid fa-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="line">
                
                <div class="config-title">
                    <div class="center">
                        <h3>Add a Title</h3>
                        <div class="center">
                            <input maxlength="9" placeholder="Click Enter to Save" onchange="changeTitle()" id="change_img_title" type="text">
                            
                        </div>
                        <div class="color-btns">
                            <button onclick="title_white()" class="btn btn-light">White</button>
                            <button onclick="title_red()" class="btn btn-danger">Red</button>
                            <button onclick="title_black()" class="btn btn-dark">Black</button>
                        </div>
                    
                    </div>
                </div>

                <!-- <hr class="line">
                <div class="config-title">
                    <div class="center">
                        <h3>Photo Color</h3>
                        <div class="center">
                            <button id="btn-bw" class="btn btn-dark" onclick="grayscale()">Black/White</button>
                            <button id="btn-color" class="btn btn-danger" onclick="grayscale0()">Color</button>
                        </div>
                    </div>
                </div> -->
                <hr class="line">

                <div class="config-title">
                    <div class="center">
                        <h3>Add Your Username</h3>
                        <div class="center">
                            <P>USERNAME</P>
                            <input id="check-img" class="checkbox" type="checkbox" checked onclick="addUsername()">
                            <!-- <button onclick="username()" class="btn btn-danger">YES</button>
                            <button onclick="noUsername()" class="btn btn-danger">NO</button> -->
                        </div>
                        <div class="color-btns">
                            
                                <button onclick="username_white()" name="white" class="btn btn-light">White</button>
                                <button onclick="username_red()" name="red" class="btn btn-danger">Red</button>
                                <button onclick="username_black()" name="black" class="btn btn-dark">Black</button>
                          
                        </div>
                    </div>
                </div>
                <hr class="line">
            </div>

        </div>
        <div class="createImage">
            <!-- <form action="/createImage" method="POST"> -->
                <button type="submit" id="getImageButton" onclick="getImage()" class="btn btn-outline-warning">Download and Share</button>
            <!-- </form> -->
        </div>
        

       
       



        <script>
            // ADJUST MAIN PHOTO COUNT
            var count = "<%= mpc%>";
            function changeMainPhoto(){
                count++;
                document.getElementById("photoSelect").innerHTML = count;
            }

            function decreaseMainPhotoCount(){
                if (count > 0 ){
                    count--;
                }
                
                document.getElementById("photoSelect").innerHTML = count;
            }
            // ADJUST MAIN PHOTO COUNT
            //ADJUST CHILD PHOTO COUNT
            var child_count = "<%= cpc %>";

            function increaseChildCount(){
                child_count++;
                document.getElementById("carousel_selector").innerHTML = child_count;
            }
            
            function decreaseChildCount(){
                if (child_count > 0){
                    child_count--;
                }
                document.getElementById("carousel_selector").innerHTML = child_count;
            }
            //ADJUST CHILD PHOTO COUNT

        </script>

        <script>
            //CHANGE IMAGE TITLE
            function changeTitle(){

                var changeText = document.getElementById("change_img_title")
                var title = document.getElementById("img-text")
                
                title.innerHTML = changeText.value.toUpperCase();
                var title_len = title.innerHTML.length;
               
                
            }
            //CHANGE IMAGE TITLE
        </script>

        <script>
            //BLACK AND WHITE FILTER
            function grayscale(){
                    document.getElementById("image").style.filter = "grayscale(100%)";
            }
            function grayscale0(){
                document.getElementById("image").style.filter = "grayscale(0%)";
            }
            //BLACK AND WHITE FILTER
        </script>

        <script>
            //ADD USERNAME
            function addUsername(){

                if (document.getElementById("check-img").checked == true){

                    document.getElementById("username").style.visibility = "visible";
                } else{

                    document.getElementById("username").style.visibility = "hidden";
                }
            }

            //ADD USERNAME
        </script>

        <script>
            //CHANGE TITLE COLOR
            function title_white(){
                document.getElementById("img-text").style.color = "white";
            }

            function title_red(){
                document.getElementById("img-text").style.color = "red";
            }

            function title_black(){
                document.getElementById("img-text").style.color = "black";
            }
            //CHANGE TITLE COLOR

            //CHANGE USERNAME COLOR
            function username_white(){
                document.getElementById("username").style.color = "white";
            }

            function username_red(){
                document.getElementById("username").style.color = "red";
            }

            function username_black(){
                document.getElementById("username").style.color = "black";
            }
            //CHANGE USERNAME COLOR
        </script>
        
    </body>

        <%- include("partials/footer") %>