<%- include("partials/header") %>

    <body class="success">
        <div class="titles">
            <h1>Mag-Fame</h1>
            
        </div>

        <div class="home-info">
            <a href="/info-popup" class="link"> <i class="fa-solid fa-circle-info"></i> </a>
        </div>

        <form class="logout" action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>

        <hr class="line">


    
       
        <div class="user-img ">
            <img id="image" src="<%=photo%>" alt="">
            <h2 id="img-text">Words</h2>
        </div>
        
       
        <!-- <div class="image-config">
          <h2 class="username" ><%= username %> </h2>
        </div> -->


        <div class="img-selectors">
      
            <div class="all-selectors">
                <h3>Choose your photo</h3>
            
                <div class="selector">
                    <label for="">Main Photo</label>
                        <a class="a-tags" href="/decreaseCount" onclick="decreaseMainPhotoCount()"> <i class="fa-sharp fa-solid fa-arrow-left"></i> </a>
                        <label id="photoSelect">0</label>
                        <a class="a-tags" href="/increaseCount" onclick="changeMainPhoto()"> <i class="fa-sharp fa-solid fa-arrow-right"></i> </a>   
                </div>

                <div class="selector">
                    <label for="">Album Photos</label>
                    <a class="a-tags" href="/decreaseChildCount" onclick="decreaseChildCount()"> <i class="fa-sharp fa-solid fa-arrow-left"></i> </a>
                    <label id="carousel_selector"> 0</label>
                    <a class="a-tags" href="/increaseChildCount" onclick="increaseChildCount()"> <i class="fa-sharp fa-solid fa-arrow-right"></i> </a>
                </div>
            </div>
            <br>

            <div class="img-title">
                <h3>Add a title</h3>

                <input maxlength="10" placeholder="Click Enter to Save" onchange="changeTitle()" id="change_img_title" type="text">
            </div>


           
        </div>



        <script>
            // ADJUST MAIN PHOTO COUNT
            var count = "<%= mpc%>";
            function changeMainPhoto(){
                count++;
                document.getElementById("photoSelect").innerHTML = count;
            }

            function decreaseMainPhotoCount(){
                if (count > 0 ){
                    count--;
                }
                
                document.getElementById("photoSelect").innerHTML = count;
            }
            // ADJUST MAIN PHOTO COUNT
            //ADJUST CHILD PHOTO COUNT
            var child_count = "<%= cpc %>";

            function increaseChildCount(){
                child_count++;
                document.getElementById("carousel_selector").innerHTML = child_count;
            }
            
            function decreaseChildCount(){
                if (child_count > 0){
                    child_count--;
                }
                document.getElementById("carousel_selector").innerHTML = child_count;
            }
            //ADJUST CHILD PHOTO COUNT

        </script>

        <script>
            //CHANGE IMAGE TITLE
            function changeTitle(){

                var changeText = document.getElementById("change_img_title")
                var title = document.getElementById("img-text")
            
                title.innerHTML = changeText.value;
                
            }
            //CHANGE IMAGE TITLE
        </script>
        
    </body>

        <%- include("partials/footer") %>